# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Terraform
# ==========================
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
.venv/

# ==========================
# Java
# ==========================
target/
*.class

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ
# ==========================
.idea/

# ==========================
# Kubernetes
# ==========================
*.kubeconfig

# ==========================
# Docker
# ==========================
docker-data/

# ==========================
# Miscellaneous
# ==========================
*.tmp
*.bak
*.swp
